/* ESTE ES EL BODY DE LA PAGINA DE INICIO */
.body {
	background-color: #009688;
}
 /* ESTE ES EL FONDO . CUADRO BLANCO */
.cuadro-blanco {
	height: 600px;
	width: 70%;
	margin-top: 40px;
	margin-left: 200px;
	padding:40px 40px;
}

/* este es el circulo verde, donde estan los iconos de los cellares*/
.cels {
	background-color: #43d854;
	border-radius: 100px;
	color: #fff;
	height: 60px;
	width: 60px;
	text-align: center;
	padding: 20px;
}

/* este es el top que de las frases que están debajo de las marcas de los
telefónos */
.texto {
	margin-top: -15px;
}

 /* este es el codigo del efecto HOVER del QR */
.caption-style-4{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		
	}
	.caption-style-4 li{
		float: left;
		padding: 0px;
		position: relative;
		overflow: hidden;
	}
	.caption-style-4 li:hover .caption{
		opacity: 1;
	}
	.caption-style-4 li:hover img{
		opacity: 1;
		transform: scale(1.15,1.15);
		-webkit-transform:scale(1.15,1.15);
		-moz-transform:scale(1.15,1.15);
		-ms-transform:scale(1.15,1.15);
		-o-transform:scale(1.15,1.15);
	}
	.caption-style-4 img{
		margin: 0px;
		padding: 0px;
		float: left;
		z-index: 4;
	}
	.caption-style-4 .caption{
		cursor: pointer;
		position: absolute;
		opacity: 0;
		-webkit-transition:all 0.45s ease-in-out;
		-moz-transition:all 0.45s ease-in-out;
		-o-transition:all 0.45s ease-in-out;
		-ms-transition:all 0.45s ease-in-out;
		transition:all 0.45s ease-in-out;
	}
	.caption-style-4 img{
		-webkit-transition:all 0.25s ease-in-out;
		-moz-transition:all 0.25s ease-in-out;
		-o-transition:all 0.25s ease-in-out;
		-ms-transition:all 0.25s ease-in-out;
		transition:all 0.25s ease-in-out;
	}
	.caption-style-4 .blur{
		background-color: rgba(0,0,0,0.65);
		height: 300px;
		width: 400px;
		z-index: 5;
		position: absolute;
	}
	.caption-style-4 .caption-text h1{
		text-transform: uppercase;
		font-size: 20px;
	}
	.caption-style-4 .caption-text{
		z-index: 10;
		color: #fff;
		position: absolute;
		width: 400px;
		height: 300px;
		text-align: center;
		top:100px;
	}
		/*HASTA AQUI TERMINA EL EFECTO DEL HOVER*/

a {
	list-style: none;
	text-decoration: none;
	color: #fff;
}

/* cÓDIGO DE INDEX. CHAT */

#back-verde {
	margin: 0;
	height: 150px;
    background-color: #009688;
    width: 100%,
}
 /* este es el back color gris del fondo */
#back-gris {
	margin: 0;
	height: 522px;
    background-color: #e0e0e0;
    width: 100%,
    z-index: auto;
}

	 /* este es el back del whats */

#contenedor {
	width: 60%;
	height: 550px;
	background-image: url("../image/chat-panel-bg.png");
	background-color: #e0e0e0;
	margin-top: -600px;
	margin-left: 460px;
	border: solid gray;
	position: static;
}

 	/* esta es la medida del nav o menu donde se encuentran los chats */

.menu {
	margin-left: 60px;
	height: 550px;
	margin-top: 71px;
	width: 30%;
}
	 /* este es el back donde se encuentra la foto de perfil principal y servirá 
	 también para la´parte del chat
	 */

.panel-gris {
	height: 60px;
	width: 100%;
	padding: 8px 4px;
}

/* esta es la barra gris donde se podrá escribir, parte baja del chat*/
#panel-bajo {
	margin-top: 423px;
}

	/*este es el tamaño de la foto del perfil del ususario*/

.img-perfiles {
	width: 45px;
	height: 45px;
}

	/*este será el marcador para entrar al contenido del chat elegido*/
.star {
	opacity: .0;
}

.star:hover {
	opacity: .9;
}

 /*cambie la posición de la estrella para simular el contenido siguiente como
 en el whats real */
.secondary-content i {
	margin-right: -20px !important;
}

 /* esta clase pertenece a la de los integrantes del chat */
.subtitulo {
	font-size: 12px;
	margin-top: -1px;
}
 /* este margen es de los iconos de la ventana chat */
.margen-icon-chat {
	margin-top: 10px;
}

.input {
	height: 40px;
	border-radius: 9px;
	width: 100%;
}
 /* tuve que cambiar el color de los iconos */
i {
	color: gray;
}


.btn-floating {
	position: relative !important;
	margin-top: -1070px !important;
	margin-right: 160px !important;
  	
}

.mover {
	position: absolute;
	right: 60px;
	top: 240px;
	left: 5px;
}

 /* cambie el ancho de la ventana del drop, poruqe el texto no se veia completo*/
.dropdown-content {
	width: 150px !important;
	z-index: 20;
}


@media screen and (max-height: 500px)
 {
    overflow-y: auto;
}