#back-verde {
	margin: 0;
	height: 150px;
    background-color: #00796b;
    width: 100%,
}
 /* este es el back color gris del fondo */
#back-gris {
	margin: 0;
	height: 522px;
    background-color: #e0e0e0;
    width: 100%,
    z-index: auto;
}

	 /* este es el back del whats */

#contenedor {
	width: 60%;
	height: 550px;
	background-image: url("../image/chat-panel-bg.png");
	background-color: #e0e0e0;
	margin-top: -600px;
	margin-left: 460px;
	border: solid gray;
	position: static;
}

 	/* esta es la medida del nav o menu donde se encuentran los chats */

.menu {
	margin-left: 60px;
	height: 550px;
	margin-top: 71px;
	width: 30%;
}
	 /* este es el back donde se encuentra la foto de perfil principal y servirá 
	 también para la´parte del chat
	 */

.panel-gris {
	height: 60px;
	width: 100%;
	margin: 0px;
}


	/*este es el tamaño de la foto del perfil del ususario*/

.img-perfiles {
	width: 45px;
	height: 45px;
	margin-top: -13px;
}

 	/* este es el contendeor de los chats, auqne ya viene predeterminado, 
 	pero le cambie el ancho porque viene más grande */



	/*este será el marcador para entrar al contenido del chat elegido*/
.star {
	opacity: .0;
}

.star:hover {
	opacity: .9;
}





@media screen and (max-height: 500px)
 {
    overflow-y: auto;
}